.no-underline {
    text-decoration: none;
}
.text{
    font-family: 'Sarabun', sans-serif;
}

.some-text {
    font-family: 'Sarabun', sans-serif;
    color: "#0B66A2";
}

.blue {
    color: #0B66A2;
}

.gray {
    color: #706A66;
}

.label {
    text-align: "center",

}

.black {
    color: "black"
}

.no-underline {
    text-decoration: none;
}

.white{
    color: white; 
}
.background{
    background-color: #0B66A2;   
}
.center{
    text-align: center;
}
.table {
    font-size: 16px;
}

.table th {
    font-size: 16px;
}

.table td p{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.color-blue{
    color: #0a4275;
}
.ubutu{
    font-family: 'Ubuntu', sans-serif
}